Data Extraction

In [1]:
import pandas as pd

In [12]:
csv_file = 'E:\\BIG DATA BY ineuron\\PuntPartenerTestAssignment\\ASSIGNMENT\\Updated_sales_data.csv'

In [13]:
df = pd.read_csv(csv_file)

In [14]:
df.head(5)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,1,99.99,04-07-2019 22:30,"682 Chestnut St, Boston, MA 02215"
2,176560,Google Phone,1,600,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,176560,Wired Headphones,1,11.99,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

Data Transformation

In [17]:
df['Quantity Ordered'] = pd.to_numeric(df['Quantity Ordered'],errors='coerce')

In [18]:
df['Price Each'] = pd.to_numeric(df['Price Each'],errors='coerce')

In [19]:
df['total_sales'] = df['Quantity Ordered'] * df['Price Each']

In [21]:
df['Order Date'] = pd.to_datetime(df['Order Date'], format='%m/%d/%y %H:%M', errors='coerce')

In [23]:
df['Order Year'] = df['Order Date'].dt.year

In [24]:
df['Order Month'] = df['Order Date'].dt.month

In [26]:
product_sales = df.groupby(['Product','Order Year','Order Month'])['total_sales'].sum().reset_index()

Data Loading

In [27]:
import sqlite3

In [28]:
conn = sqlite3.connect('sales_data.db')

In [29]:
df.to_sql('orders', conn, index=False, if_exists='replace')
product_sales.to_sql('product_sales', conn, index=False, if_exists='replace')

38

In [30]:
conn.commit()
conn.close()

SQL Queries

In [31]:
query1 = """
SELECT product, SUM(total_sales) as total_sales
FROM product_sales
WHERE order_year = (SELECT MAX(order_year) FROM product_sales)
AND order_month >= (SELECT MAX(order_month) FROM product_sales) - 2
GROUP BY product;
"""

In [32]:
query2 = """
SELECT product, SUM(total_sales) as total_sales
FROM product_sales
GROUP BY product
ORDER BY total_sales DESC
LIMIT 5;
"""

In [33]:
query3 = """
SELECT product, AVG(total_sales) as avg_sales
FROM product_sales
GROUP BY product;
"""

Data Validation

In [44]:
missing_values = df.isnull().sum()
if any(missing_values):
    pass
    # Handle missing values appropriately (e.g., log and/or skip rows)

anomalies = df[(df['Quantity Ordered'] < 0) | (df['Price Each'] < 0)]
if not anomalies.empty:
    pass
    # Handle anomalies appropriately (e.g., correct values, log issues)

try:
    # Code for ETL
    pass 
except FileNotFoundError as e:
    print(f"Error: {e}")
except Exception as e:
    print(f"Error: {e}")